:host {
  display: grid;
  gap: 1em;
  align-items: stretch;

  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content;
}

.above-toolbar {
  grid-row: 1;
  grid-column: 1 / 2;
}

.exclusive-buttons {
  grid-row: 2;
  grid-column: 1;
}

.opener-button-section {
  &>button {
    height: 100%;
    padding: 0;
    min-width: 0;
    width: 50px;

    &>mat-icon {
      margin: 0;
    }
  }
}

.standalone-buttons {
  grid-row: 2;
  grid-column: 2;
}

.material-section {
  grid-row: 2;
  grid-column: 3;
}

.material-type-icon {
  font-size: 24px;
  font-weight: bold;
  font-variant: all-small-caps;
}

[mat-menu-item] .material-type-icon {
  padding-right: 0.5em;
}
