<p>Results of using
  <mat-icon>{{ measureTool.icon }}</mat-icon> {{ measureTool.label }}
  tool
</p>

<div>
  <mat-form-field>
    <mat-label>Selected measure</mat-label>
    <mat-select [formControl]="selectedMeasureControl">
      @for (opt of measureTool.measures$ | async; track opt) {
      <mat-option [value]="opt">{{ opt.identifier }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="measureTool.selectedMeasure$ | async as selectedMeasure">
  <div>
    Total: {{ selectedMeasure.distance | length }}
  </div>
  <mat-list>
    @for (point of selectedMeasure.allPoints; track point) {
    <mat-list-item (click)="measureTool.lookAt(point)">
      <p matListItemLine>{{ point | vector }}</p>
    </mat-list-item>
    }
  </mat-list>
</div>
