<p>Results of using
  <mat-icon>{{ ceilingHeightTool.icon }}</mat-icon> {{ ceilingHeightTool.label }}
  tool
</p>

<p>
  Measures from the clicked surface to the nearest surface directly above.
  Both the click and ceiling surface are only checked if visible!
</p>


<div mat-subheader>
  Ceiling

  <span>
    <button mat-icon-button [disabled]="!selectionList.selectedOptions.selected.length"
      [matMenuTriggerFor]="optionsMenu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #optionsMenu="matMenu">
      <button mat-menu-item (click)="deleteSelectedCeilingHeight()">Delete item</button>
      <button mat-menu-item (click)="clearSelection()">Clear selection</button>
      <button mat-menu-item [disabled]="selectionList.selectedOptions.selected.length !== 1" (click)="rename()">
        Rename point
      </button>
    </mat-menu>
  </span>

  <span class="spanner"></span>
  <mat-button-toggle-group [ngModel]="ceilingHeightTool.showCeilingHeights$ | async"
    (ngModelChange)="ceilingHeightTool.toggleCeilingHeights($event)">
    <mat-button-toggle [value]="true">Show</mat-button-toggle>
    <mat-button-toggle [value]="false">Hide</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-selection-list #selectionList multiple [formControl]="ceilingHeightSelectControl">


  @for (measure of (ceilingHeightTool.ceilingDistances$ | async); track measure) {
  <mat-list-option (click)="ceilingHeightTool.lookAt(measure)" [value]="measure">
    <h3 matListItemTitle> {{ measure.identifier }} </h3>
    <p matListItemLine class="vector-length-line">
      <span>{{ measure.worldPoint | vector }}</span>
      <span>+</span>
      <span>{{ measure.distance | length }}</span>
    </p>
    <p matListItemLine *ngIf="measure.firstParentName as parent">
      {{ parent }}
    </p>
  </mat-list-option>
  }
</mat-selection-list>
