:host {
  display: block;
}

.label-and-form-trio {
  display: grid;
  grid-template-areas:
    "label label additional"
    "x     y     z";


  h3 {
    grid-area: label;
  }
}

.angle-input {
  text-align: right;
}
