<h1 mat-dialog-title>{{ crossSection.identifier }} render</h1>
<div mat-dialog-content>
  <canvas #canvas></canvas>
  <button mat-icon-button (click)="toggleMaterial.click()" [matTooltip]="toggleMaterial.label">
    <mat-icon *ngIf="toggleMaterial.icon$ | async as icon" [fontSet]="icon.fontSet">
      {{ icon.icon }}
    </mat-icon>
  </button>
  <mapper-cross-section-details-form [crossSection]="crossSection" [formGroup]="formGroup" />
</div>

<div mat-dialog-actions>
  <button type="button" mat-button mat-dialog-close>
    Close
  </button>
  <button type="button" mat-button (click)="exportSubject.next()">
    Export
  </button>
</div>
