<form (submit)="submit($event)">
  <h1 mat-dialog-title>{{ titleText }}</h1>
  <div mat-dialog-content>
    <div class="form-fields-grid">
      <mat-form-field>
        <mat-label>File name</mat-label>
        <input matInput type="text" [formControl]="formGroup.controls.fileName">
      </mat-form-field>

      <section>
        <h4>File type</h4>
        <mat-button-toggle-group [formControl]="formGroup.controls.type">
          @for(fileType of modelExporterNames; track fileType) {
            <mat-button-toggle [value]="fileType">{{ fileType }}</mat-button-toggle>
          }
        </mat-button-toggle-group>

        @if (wikiLink; as link) {
          <p>
            <a [href]="link" target="_blank">Wikipedia Link</a>
          </p>
        }
        @switch (formGroup.controls.type.value) {
          @case (ModelExporterNames.OBJ) {
            <p>
              OBJ is the most widely supported format by almost all viewers (e.g. Windows and macOS viewers),
              but also one of the least space efficient.
            </p>
          }
          @case (ModelExporterNames.GLTF) {
            <p>
              gLTF is supported by many modeling systems; less-space-efficient version of GLB.
              Supported by Windows 3D viewer.
            </p>
          }
          @case (ModelExporterNames.GLB) {
            <p>
              gLTF-binary is supported by many modeling systems; more-space-efficient version of gLTF.
              Supported by Windows 3D viewer.
            </p>
          }
          @case (ModelExporterNames.STL) {
            <p>
              STL is a CAD modeling format supported by many systems.<br/>
              It seems to be one of the <b>least-space-efficient</b> binary formats for CavernSeer.
              Supported by Windows and macOS 3D viewers.
            </p>
          }
          @case (ModelExporterNames.PLY) {
            <p>
              PLY is a format for storing polygonal data.<br/>
              It seems to be the <b>most-space-efficient</b> binary format for CavernSeer.
              Supported by Windows 3D viewer.
            </p>
          }
          @case (ModelExporterNames.USDZ) {
            <p>
              USD is a format for 3D graphics designers, but with limited viewer support.<br>
              It is the <b>least-space-efficient</b> when un-compressed, but when compressed
              is nearly as small as PLY compressed.
            </p>
          }
        }

        @if (modelExporterAsciis.has(formGroup.controls.type.value)) {
          <p class="ascii-warning">
            This format is a plaintext/ASCII format, which can create excessively large, or even un-exportable, files.<br/>
            It is highly recommended to compress any ASCII format.
          </p>
        }
      </section>

      <section>
        <mat-checkbox [formControl]="formGroup.controls.compress">GZip compress</mat-checkbox>
      </section>
    </div>

    @if (resultSubject | async; as result) {
      <div>
        Successfully exported {{ result.name }} at {{ result.size | bytes }}.
      </div>
    }

    <div mat-dialog-actions>
      <button type="button" mat-button mat-dialog-close cdkFocusInitial>
        Cancel
      </button>
      <button type="submit" mat-button [disabled]="!formGroup.valid">
        Export
      </button>
    </div>
  </div>
</form>
