<form (submit)="submit($event)">
  <h1 mat-dialog-title>{{ titleText }}</h1>
  <div mat-dialog-content>
    <div class="form-fields-grid">
      <mat-form-field>
        <mat-label>File name</mat-label>
        <input matInput type="text" [formControl]="formGroup.controls.fileName">
      </mat-form-field>

      <section>
        <h4>File type</h4>
        <mat-button-toggle-group [formControl]="formGroup.controls.type">
          @for(fileType of modelExporterNames; track fileType) {
            <mat-button-toggle [value]="fileType">{{ fileType }}</mat-button-toggle>
          }
        </mat-button-toggle-group>

        <p *ngIf="wikiLink as link">
          <a [href]="link" target="_blank">Wikipedia Link</a>
        </p>
        <ng-container [ngSwitch]="formGroup.controls.type.value">
          <p *ngSwitchCase="ModelExporterNames.OBJ">
            OBJ is the most widely supported format by almost all viewers (e.g. Windows and macOS viewers),
            but also one of the least space efficient.
          </p>
          <p *ngSwitchCase="ModelExporterNames.GLTF">
            gLTF is supported by many modeling systems; less-space-efficient version of GLB.
          </p>
          <p *ngSwitchCase="ModelExporterNames.GLB">
            gLTF-binary is supported by many modeling systems; more-space-efficient version of gLTF.
          </p>
          <p *ngSwitchCase="ModelExporterNames.STL">
            STL is a CAD modeling format supported by many systems.
            It seems to be one of the <b>least-space-efficient</b> binary formats for CavernSeer.
          </p>
          <p *ngSwitchCase="ModelExporterNames.PLY">
            PLY is a format for storing polygonal data.
            It seems to be the <b>most-space-efficient</b> binary format for CavernSeer.
          </p>
          <p *ngSwitchCase="ModelExporterNames.USDZ">
            <em>Currently unsupported by CavernSeer Mapper; seems to export empty files.</em>
          </p>
        </ng-container>

        <p class="ascii-warning" *ngIf="modelExporterAsciis.has(formGroup.controls.type.value)">
          This format is a plaintext/ASCII format, which can create excessively large, or even un-exportable, files.
        </p>
      </section>
    </div>

    <div *ngIf="resultSubject | async as result">
      Successfully exported {{ result.name }} at {{ result.size | bytes }}.
    </div>

    <div mat-dialog-actions>
      <button type="button" mat-button mat-dialog-close cdkFocusInitial>
        Cancel
      </button>
      <button type="submit" mat-button [disabled]="!formGroup.valid">
        Export
      </button>
    </div>
  </div>
</form>
