<form *ngIf="model.rendered">
  <div>
    <mat-checkbox [formControl]="formGroup.controls.visible">
      <mat-icon>{{ formGroup.controls.visible.value ? 'visibility': 'visibility_off' }}</mat-icon>
      Visible
    </mat-checkbox>
  </div>
  <mat-form-field>
    <mat-label>X</mat-label>
    <input matInput type="number" step="0.1" [formControl]="formGroup.controls.position.controls.x">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Y</mat-label>
    <input matInput type="number" step="0.1" [formControl]="formGroup.controls.position.controls.y">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Z</mat-label>
    <input matInput type="number" step="0.1" [formControl]="formGroup.controls.position.controls.z">
  </mat-form-field>
</form>
