<p>
  Results of using
  <mat-icon>{{ (crossSectionTool.icon$ | async)?.icon }}</mat-icon> {{ crossSectionTool.label }}
  tool
</p>

<div mat-subheader>

  <button id="cross-section-render-btn" mat-stroked-button [disabled]="formGroup.controls.selected.value.length !== 1"
    (click)="render()">
    Render
  </button>

  <button
    mat-icon-button
    *ngIf="{ visible: crossSectionTool.visibility$ | async } as visibilityState"
    (click)="crossSectionTool.toggleVisibility(!visibilityState.visible)"
    matTooltip="Toggle cross-section visibility"
  >
    <mat-icon>{{ visibilityState.visible ? 'visibility' : 'visibility_off' }}</mat-icon>
  </button>

  <span [style.flex-grow]="1"></span>

  <span>
    <button
      mat-icon-button
      [disabled]="formGroup.controls.selected.value.length !== 1"
      [matMenuTriggerFor]="optionsMenu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <button mat-menu-item (click)="deleteCrossSection()">Delete cross-section</button>
      <button mat-menu-item (click)="rename()">Rename cross-section</button>
    </mat-menu>
  </span>
</div>

<mat-selection-list [multiple]="false" [formControl]="formGroup.controls.selected">

  @for (crossSection of (crossSectionTool.crossSections$ | async); track crossSection) {
  <mat-list-option [value]="crossSection" (click)="crossSectionTool.lookAt(crossSection)">
    <h3 matListItemTitle>{{ crossSection.identifier }}</h3>
  </mat-list-option>
  }
</mat-selection-list>

@if (!(dialogOpen$ | async) && formGroup.controls.selected.value[0]; as crossSection) {
<mapper-cross-section-details-form [crossSection]="crossSection" [formGroup]="formGroup.controls.details" />
}
