<p>
  Results of using
  <mat-icon>{{ crossSectionTool.icon$ | async }}</mat-icon> {{ crossSectionTool.label }}
  tool
</p>

<div mat-subheader>

  <mat-button-toggle-group [ngModel]="crossSectionTool.visibility$ | async"
    (ngModelChange)="crossSectionTool.toggleVisibility($event)">
    <mat-button-toggle [value]="true">Show</mat-button-toggle>
    <mat-button-toggle [value]="false">Hide</mat-button-toggle>
  </mat-button-toggle-group>

  <button id="cross-section-render-btn" mat-stroked-button [disabled]="formGroup.controls.selected.value.length !== 1"
    (click)="render()">
    Render
  </button>

  <span class="spanner"></span>

  <span>
    <button mat-icon-button [disabled]="formGroup.controls.selected.value.length !== 1"
      [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <button mat-menu-item (click)="deleteCrossSection()">Delete cross-section</button>
      <button mat-menu-item (click)="rename()">Rename cross-section</button>
    </mat-menu>
  </span>
</div>

<mat-selection-list #selectionList [multiple]="false" [formControl]="formGroup.controls.selected">

  @for (crossSection of (crossSectionTool.crossSections$ | async); track crossSection) {
  <mat-list-option [value]="crossSection" (click)="crossSectionTool.lookAt(crossSection)">
    <h3 matListItemTitle>{{ crossSection.identifier }}</h3>
  </mat-list-option>
  }
</mat-selection-list>

@if (!(dialogOpen$ | async) && formGroup.controls.selected.value[0]; as crossSection) {
<mapper-cross-section-details-form [crossSection]="crossSection" [formGroup]="formGroup.controls.details" />
}
