<mat-sidenav-container>
  <mat-sidenav #leftMenu id="left-sidenav">
    <!-- <mapper-sidenav (buttonClicked)="leftMenu.close()" /> -->
    <!-- TODO: re-add buttonClick logic -->
    <router-outlet name="left-side-nav" />
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-fab id="open-leftmenu-btn" (click)="leftMenu.toggle()" ariaLabel="Open menu" matTooltip="Open menu">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab id="open-righttabnav-btn" (click)="rightTabNav.toggle()" aria-label="Open right tabnav"
      matTooltip="Open right tabnav">
      <mat-icon>
        {{ rightTabNav.opened ? 'chevron_right' : 'chevron_left' }}
      </mat-icon>
    </button>

    <router-outlet name="main" />
  </mat-sidenav-content>

  <mat-sidenav #rightTabNav mode="side" position="end" id="right-sidenav">
    <router-outlet name="right-tab-nav" />
    <!-- <mapper-right-tab-nav /> -->
  </mat-sidenav>
</mat-sidenav-container>
