<form (submit)="submit($event)">
  <h1 mat-dialog-title>{{ titleText }}</h1>
  <div mat-dialog-content>
    <div>
      <h2>!!!WARNING!!!</h2>
      <div>This is experimental; do not override canonical datasets with this or trust the output!</div>
      <div>This can also take a <b>significant</b> amount of time; be careful.</div>
    </div>

    <div class="form-fields-grid">
      <mat-form-field>
        <mat-label>Compression level</mat-label>
        <input matInput type="number" [formControl]="formGroup.controls.compressionLevel" [step]="1">
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <mat-label>File name</mat-label>
        <input matInput type="text" [formControl]="formGroup.controls.fileName"
          [placeholder]="(openModelName$ | async) ?? ''">
      </mat-form-field>
    </div>

    @if (uploadProgress.progress$ | async; as progress) {
      @if (progress.active) {
        <div class="loading-container">
          @if (progress.stage) {
            <div>Stage: {{ progress.stage }}</div>
          }
          <div>{{ progress.loaded | bytes }} / {{ progress.total | bytes }}</div>
          <mat-progress-bar [mode]="progress.determinate ? 'determinate' : 'indeterminate'"
            [value]="100 * progress.loaded / progress.total" />
        </div>
      }
    }
    @if (resultSubject | async; as result) {
      <div class="success-container">
        Successfully downloaded {{ result.name }}, compressed to {{ result.size | bytes }}.
      </div>
    }
    @if (errorSubject | async; as error) {
      <div class="error-container">
        <h3>Error</h3>
        <div>{{ error.name }}</div>
        <div>{{ error.toString() }}</div>
      </div>
    }
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-button [disabled]="uploadProgress.isActive$| async" mat-dialog-close cdkFocusInitial>
      Cancel
    </button>
    @let result = resultSubject | async;
    @if (!result) {
      <button type="submit" mat-button [disabled]="!formGroup.valid">
        Zip
      </button>
    } @else {
      <button type="reset" mat-button mat-dialog-close>
        Close
      </button>
    }
  </div>
</form>
