:host {
  display: grid;
  min-width: 100px;
  height: 100%;
  grid-template-rows: 1fr min-content;
}

.model-nav-tree {
  cursor: not-allowed;

  .children {
    padding-left: 1em;
  }

  .clickable-node {
    cursor: pointer;
  }
}

mapper-model-detail-form {}
