:host {
  display: grid;
  min-width: 100px;
  height: 100%;
  grid-template-rows: 1fr min-content;
}

.model-nav-tree {
  cursor: not-allowed;
  overflow-y: auto;

  .children {
    padding-left: 1em;
  }

  .clickable-node {
    cursor: pointer;

    column-gap: 2px;

    &.selected-node {
      background-color: var(--mat-ripple-color);
    }
    &.hidden-node {
      mapper-file-icon {
        opacity: 0.5;
      }
    }
  }
}

mapper-model-detail-form {}
