<mat-list>
  <button mat-list-item [mapperKeyBind]="'ctrl+o'" (click)="openDialog.openAFile$().subscribe()"><span>Open... <mapper-key-bind-icon /></span></button>
  <button mat-list-item [mapperKeyBind]="'ctrl+i'" (click)="openDialog.importFiles$().subscribe()"><span>Import... <mapper-key-bind-icon /></span></button>
  <button mat-list-item [mapperKeyBind]="'ctrl+s'" (click)="saveDialog.saveOpenFile$().subscribe()"><span>Save zip... <mapper-key-bind-icon /></span></button>
  <button mat-list-item [mapperKeyBind]="'ctrl+e'" (click)="exportImageDialog.exportImage$().subscribe()"><span>Export image... <mapper-key-bind-icon /></span></button>
  <button mat-list-item [mapperKeyBind]="'ctrl+shift+e'" (click)="exportModelDialog.exportModel$().subscribe()"><span>Export model... <mapper-key-bind-icon /></span></button>
  <button mat-list-item (click)="settingsDialog.openSettings$().subscribe()"><span>Settings</span></button>
  <button mat-list-item (click)="serviceWorker.checkForUpdate().subscribe()"><span>Check for update</span></button>
</mat-list>
<div class="footer">
  <p>{{ mapperVersion.version }}</p>
  <p>
    <a
      [style.color]="'white'"
      [href]="'https://github.com/skgrush/cavern-seer-mapper/releases/tag/v' + mapperVersion.packageVersion"
      target="_blank"
    >
      View on GitHub
    </a>
  </p>
</div>
