<mat-list>
  <button mat-list-item [mapperKeyBind]="'ctrl+o'" matTooltip="ctrl+o" (click)="openDialog.openAFile$().subscribe()">Open...</button>
  <button mat-list-item [mapperKeyBind]="'ctrl+i'" matTooltip="ctrl+i" (click)="openDialog.importFiles$().subscribe()">Import...</button>
  <button mat-list-item [mapperKeyBind]="'ctrl+s'" matTooltip="ctrl+s" (click)="saveDialog.saveOpenFile$().subscribe()">Save zip...</button>
  <button mat-list-item [mapperKeyBind]="'ctrl+e'" matTooltip="ctrl+e" (click)="exportImageDialog.exportImage$().subscribe()">Export image...</button>
  <button mat-list-item [mapperKeyBind]="'ctrl+shift+e'" matTooltip="ctrl+shift+e" (click)="exportModelDialog.exportModel$().subscribe()">Export model...</button>
  <button mat-list-item (click)="settingsDialog.openSettings$().subscribe()">Settings</button>
  <button mat-list-item (click)="serviceWorker.checkForUpdate().subscribe()">Check for update</button>
</mat-list>
<div class="footer">
  <p>{{ mapperVersion.version }}</p>
  <p>
    <a
      [style.color]="'white'"
      [href]="'https://github.com/skgrush/cavern-seer-mapper/releases/tag/v' + mapperVersion.packageVersion"
      target="_blank"
    >
      View on GitHub
    </a>
  </p>
</div>
