:host {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr min-content;

  mat-list {
    overflow-y: auto;

    button[mat-list-item] {
      span:not(span[class]) {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
