<mat-list>
  <button mat-list-item (click)="dialogOpener.open()">Open...</button>
  <button mat-list-item (click)="dialogOpener.import()">Import...</button>
  <button mat-list-item (click)="dialogOpener.save()">Zip...</button>
  <button mat-list-item (click)="dialogOpener.exportImage()">Export image...</button>
  <button mat-list-item (click)="dialogOpener.exportModel()">Export model...</button>
  <button mat-list-item (click)="dialogOpener.settings()">Settings</button>
  <button mat-list-item (click)="checkForUpdate()">Check for update</button>
</mat-list>
<div class="footer">
  <p>{{ mapperVersion.version }}</p>
  <p>
    <a [style.color]="'white'"
      [href]="'https://github.com/skgrush/cavern-seer-mapper/releases/tag/v' + mapperVersion.packageVersion">
      View on GitHub
    </a>
  </p>
</div>
