<form (submit)="clickOpen($event)">
  <h1 mat-dialog-title> {{ titleText }} </h1>
  <div mat-dialog-content>
    <mat-list class="file-list">
      @for (file of files$ | async; track file) {
      <mat-list-item>
        <mapper-file-icon matListItemIcon [type]="file.type" />
        <div matListItemTitle>{{ file.identifier }}</div>
        <div matListItemLine>{{ file.blob.size | bytes }}</div>
      </mat-list-item>
      }
    </mat-list>
    <input *ngIf="!hasInitialFiles" type="file" [multiple]="multiple" [accept]="accept" (change)="inputChanged($event)">

    <ng-container *ngIf="uploadProgress.progress$ | async as progress">
      <div class="loading-container" *ngIf="progress.active">
        <p>{{ progress.loaded | bytes }} / {{ progress.total | bytes }}</p>
        <mat-progress-bar mode="determinate" [value]="100 * progress.loaded / progress.total" />
      </div>
    </ng-container>
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-button [disabled]="uploadProgress.isActive$ | async" mat-dialog-close cdkFocusInitial>
      Cancel
    </button>
    <button type="submit" mat-button [disabled]="!(files$ | async)?.length">{{ submitText }}</button>
  </div>
</form>
